################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleProj/SampleConsole/bin/Debug/SampleConsole.exe
